html,
body {
  padding: 0;
  margin: 0;
  font-family:
    sans-serif;
}

.card {
  margin-bottom: 10px;
  display: inline-block;
  padding: 20px;
}

.card-header {
  color: rgb(48, 39, 56);
  background-color: rgb(227, 230, 230);
  font-weight: bold;
}

.profile {
  display: block;
}

.picture {
  height: 200px;
  width: 200px;
}

.result {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #409743;
}

input[name="inCollectionRadio"] {
  margin: 10px;
}
