.card {
  margin-bottom: 10px;
  display: inline-block;
  padding: 20px;
}

.card-header {
  color: rgb(48, 39, 56);
  background-color: rgb(227, 230, 230);
  font-weight: bold;
}

.profile {
  display: block;
}

.picture {
  height: 200px;
  width: 200px;
}